* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70px;
  background-color: black;
}

#header {
  width: 400px;
  height: 80px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#tieg {
  display: block;
  border-bottom: 4px solid rgb(81, 255, 0);
  padding-bottom: 5px;
  position: relative;
}

h1 {
  color: white;
  font-size: 8rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px #30e73f;
}

#socialPlace {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 2px solid rgb(81, 255, 0); */
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.socialicons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  font-size: 1rem;
}

.socialicons > a:link {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
  opacity: 0.6;
}

.socialicons > a:visited {
  color: rgb(255, 255, 255);
  opacity: 0.6;
}

.socialicons > a:hover {
  transition: 0.5s;
  color: rgb(136, 133, 133);
}

.socialicons > a:active {
  color: rgb(41, 39, 39);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: black;
}

#footer > a:link {
  font-size: 1.1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: rgb(136, 133, 133);
  text-decoration: none;
}

#footer > a:visited {
  color: rgb(136, 133, 133);
}

#footer > a:hover {
  color: rgb(196, 192, 192);
}

#footer > a:active {
  color: white;
}
